.btn-outline-primary:hover,.btn-outline-primary.dropdown-toggle.show,.link-primary:hover, .link-primary:focus{
    color: #fff;
    background-color: #77a88d;
    border-color: #77a88d;
}

.badge:hover,.badge:focus{
    color:#000;
}

.form-control:focus{
    border: 2px solid #bbd4c6;
}
